:root {
  --black: #141414;
  --dark-navy: #000B1B;
  --textbox-bg: #ffffff10;
  --white: #FFFFFF;
  --accent-blue: #00E0FF;
  --accent-green: #38FF94;
  --accent-average-cool: #1CF0CA;
}

h2 {
  font-weight: 500;
  font-size: 40px;
  margin: 0;
}

h3 {
  font-weight: 400;
  font-size: 28px;
}

a {
  text-decoration: none;
  color: var(--white);
  transition-duration: 0.5s;
}

a:hover {
  filter: drop-shadow(0 0 0.75rem var(--accent-average-cool));
  color: var(--accent-average-cool);
  transition-duration: 0.5s;
}