.intro {
  padding-top: 15%;
  font-size: 32px;
  border: 1px solid orange;
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.intro-title h1 {
  margin: 0;
  font-size: 60px;
}

.intro-desc {
  margin: 0;
  font-size: 16px;
}