.intro {
  padding-top: 30vh;
  font-size: 32px;
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.intro-title h1 {
  margin: 0;
  font-size: 60px;
}

.intro-title p {
  margin: 10px 0;
}

.intro-title h1 span {
  background: linear-gradient(45deg, var(--accent-green), var(--accent-blue));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-body {
  margin: 15px 0;
  font-size: 16px;
}

.intro a {
  border: 1px solid white;
  border-radius: 8px;
  padding: 7px 20px;
  font-size: 18px;
  font-weight: 500;
  transition-duration: 0.5s;
}

.intro a:hover {
  border: none;
  background: linear-gradient(45deg, var(--accent-green), var(--accent-blue));
  filter: drop-shadow(0 0 0.75rem var(--accent-average-cool));
  color: var(--dark-navy);
  transition-duration: 0.5s;
}