.container {
  margin-top: 10vh;
  height: 45vh;
}

.card-text {
  width: 20vw;
  float: left;
}

.card-text p {
  margin: 0;
}

.card-text h3 {
  font-weight: 400;
  margin: 20px 0;
}

.card-thumbnail img {
  height: auto;
  width: 42vw;
  float: right;
}