.container {
  margin-top: 10vh;
  height: 45vh;
}

.card-text {
  width: 37vh;
  float: left;
  margin-right: 5%;
}

.card-text p {
  margin: 0;
}

.card-text h2 {
  font-weight: 400;
}

.card-thumbnail img {
  height: 48vh;
  width: auto;
  float: right;
}