html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0 20vw 0 15vw;
  width: 100%;
  max-width: 900px;
  line-height: 1.2;
  min-height: 100vh;
  color: var(--white);
  background: var(--black);
  transition: color 0.5s, background-color 0.5s;
  font-family: 'Figtree', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}